<div class="searchBar">
  <div class="container">
    <form action="/search" role="search" method="POST" class="search__form">
      <input
        type="search"
        aria-label="search"
        id="searchInput"
        name="searchTerm"
        placeholder="Search the site"
      />
    </form>
    <div id="searchClose">Close</div>
  </div>
</div>
